@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.box {
	display: flex;
    justify-content: center;
}
.normal {
    width: 15%;
    padding: 0px;
    height: 100px;
    float: left;
    font-size: 80px;
    flex: 25%;
}
.ride_done {
	color: #f5b32b;
}
.blink div{
	font-family: sans-sefif;
	color: white;
	animation: blink 1s linear infinite;
}
@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}
.skl img {
	width: 100%;
}
.off {
	disabled: true;
	cursor: none;
}
.off img{
	opacity: 0;
}
.on img{
	opacity: 1;
	cursor: pointer;
}
button {
	width: 140px;
	background-color: transparent;
	border: none;
}
#dice1 {
	padding: 6px 0 0 0;
	width: 180px;
	background-color: transparent;
	border: none;
}
#dice2 {
	padding: 6px 0 0 0;
	width: 180px;
	background-color: transparent;
	border: none;
}
#dice3 {
	padding: 6px 0 0 0;
	width: 180px;
	background-color: transparent;
	border: none;
}
.score_ride {
	width: 28px;
	height: 28px;
	background-color: gray;
	border: 1px solid black;
}
.score_total {
	width: 140px;
	height: 40px;
	background-color: gray;
	border: 1px solid black;
}
#play_finish.finish img{
	background: url('/images/finish.png') no-repeat;
	width: 60px;
	height: 60px;
	margin: auto;
	padding: 0px;
}
#play_finish.play img{
	background: url('/images/play.png') no-repeat;
	width: 60px;
	height: 60px;
	margin: auto;
	padding: 0px;
}
#skunk1_play.up img{
	display: block;
	background: url('/images/skunk1_play_up.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk1_play.down img{
	display: block;
	background: url('/images/skunk1_play_down.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk2_play.up img{
	display: block;
	background: url('/images/skunk2_play_up.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk2_play.down img{
	display: block;
	background: url('/images/skunk2_play_down.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk3_play.up img{
	display: block;
	background: url('/images/skunk3_play_up.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk3_play.down img{
	display: block;
	background: url('/images/skunk3_play_down.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk4_play.on img{
	background: url('/images/boss_m.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk5_play.up img{
	display: block;
	background: url('/images/skunk5_play_up.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk5_play.down img{
	display: block;
	background: url('/images/skunk5_play_down.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk6_play.up img{
	display: block;
	background: url('/images/skunk6_play_up.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk6_play.down img{
	display: block;
	background: url('/images/skunk6_play_down.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk7_play.up img{
	display: block;
	background: url('/images/skunk7_play_up.png') no-repeat;
	width: 140px;
	height: 156px;
}
#skunk7_play.down img{
	display: block;
	background: url('/images/skunk7_play_down.png') no-repeat;
	width: 140px;
	height: 156px;
}